<% layout('layouts/boilerplate.ejs') %>
<div class="row">
  <h1 class="text-center">Edit Kebab</h1>
  <div class="col-6 offset-3">
    <form action="/kebabs/<%= kebab._id %>?_method=PUT " method="post" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="name">Name:</label>
        <input class="form-control" type="text" name="kebab[name]" id="name" required value="<%=kebab.name%>" />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="location">Location:</label>
        <input
          class="form-control"
          type="text"
          name="kebab[location]"
          id="location"
          required
          value="<%=kebab.location %>"
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="image">Image Url:</label>
        <input class="form-control" type="text" name="kebab[image]" id="image" value="<%=kebab.image %>" />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="description">Description:</label>
        <textarea class="form-control" type="text" name="kebab[description]" id="description">
<%=kebab.description%></textarea
        >
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">€</span>
        </div>
        <input
          type="text"
          class="form-control"
          aria-label="Amount (to the nearest dollar)"
          placeholder="0.00"
          value="<%=kebab.price %>"
          name="kebab[price]"
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <button class="btn btn-info">Submit Changes</button>
    </form>
    <a href="/kebabs">Return</a>
  </div>
</div>
