<% layout('layouts/boilerplate.ejs') %>
<body>
  <h1><%= kebab.name %></h1>
  <h2><%= kebab.location %></h2>
  <img src="<%= kebab.image %> " alt="" />
  <a href="/kebabs">Return</a>
  <a href="/kebabs/<%= kebab._id %>/edit ">Edit</a>

  <form method="post" action="/kebabs/<%= kebab._id %>?_method=DELETE">
    <button>Delete kebab</button>
  </form>
</body>
